/* Custom Global Adjustments */
body {
    background-color: #0D0208;
    cursor: crosshair;
}

/* Custom Scrollbar */
::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: #0D0208; }
::-webkit-scrollbar-thumb { background: #003B00; }
::-webkit-scrollbar-thumb:hover { background: #00FF41; }

/* CRT Scanline Effect Overlay */
body::after {
    content: " ";
    display: block;
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.15) 50%), 
                linear-gradient(90deg, rgba(255, 0, 0, 0.03), rgba(0, 255, 0, 0.01), rgba(0, 0, 255, 0.03));
    z-index: 100;
    background-size: 100% 3px, 3px 100%;
    pointer-events: none;
}